/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        toggle_gaming {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&tog 1>;
        };
    };

    behaviors {
        hml: homerow_left {
            display-name = "HOMEROW_LEFT";
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            global-quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
        hmr: homerow_right {
            display-name = "HOMEROW_RIGHT";
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            global-quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E    |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D    |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | GUI  |  Z  |  X  |  C    |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | SHIFT | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp Q       &kp W             &kp E         &kp R             &kp T            &kp Y   &kp U          &kp I            &kp O         &kp P          &kp BSPC
   &kp LCTRL &hml LGUI A &hml LALT S       &hml LCTRL  D &hml LSHIFT F     &kp G            &kp H   &hmr LSHIFT J  &hmr LCTRL K     &hmr LALT L   &hmr LGUI SEMI &kp SQT
   &kp LGUI  &kp Z       &kp X             &kp C         &kp V             &kp B            &kp N   &kp M          &kp COMMA        &kp DOT       &kp FSLH       &kp ESC
                                           &kp BSPC      &mo 2             &kp SPACE        &kp RET &mo 3          &kp DEL
                        >;
                };


                gaming_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E    |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D    |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | GUI  |  Z  |  X  |  C    |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | SHIFT | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "Gaming";
                        bindings = <
   &kp TAB   &kp Q      &kp W            &kp E        &kp R            &kp T            &kp Y   &kp U         &kp I           &kp O        &kp P         &kp BSPC
   &kp LCTRL &kp A      &kp S            &kp D        &kp F            &kp G            &kp H   &kp J         &kp K           &kp L        &kp SEMI      &kp SQT
   &kp LGUI  &kp Z      &kp X            &kp C        &kp V            &kp B            &kp N   &kp M         &kp COMMA       &kp DOT      &kp FSLH      &kp ESC
                                         &kp LSHIFT   &mo 2            &kp SPACE        &kp RET &mo 3         &kp LALT
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1    |  2     |  3    |  4  |  5  |     |  6   |  7  |  8  |  9   |  0  | DEL   |
// | CNTRL|       | VOLDN  | VOLUP | PP  |     |     | LFT  | DWN |  UP | RGT  |     |       |
// | SHFT | BT1   | BT2    | BT3   | BT4 | BT5 |     | PREV |     |     | NEXT |     | BTCLR |
//                | SHIFT  |       | SPC |     | ENT |      | ALT |
                        display-name = "Lower";
                        bindings = <
   &kp LA(F4) &kp N1     &kp N2       &kp N3       &kp N4     &kp N5     &kp N6   &kp N7    &kp N8    &kp N9    &kp N0 &kp DEL
   &kp F2     &kp LGUI   &kp LALT     &kp LCTRL    &kp LSHIFT &trans     &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &trans &trans
   &trans     &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_PP   &kp C_NEXT &kp HOME &kp PG_DN &kp PG_UP &kp END   &trans &bt BT_CLR
                      	           &kp LSHIFT   &trans     &kp SPACE  &kp RET  &trans    &kp LALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #    |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |       |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |       |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | SHIFT |     | SPC |   | ENT |     | ALT |
                        display-name = "Raise";
                        bindings = <
   &kp TAB   &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT         &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans    &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHIFT   &trans            &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	               &kp LSHIFT   &trans       &kp SPACE         &kp RET   &trans    &kp LALT
                        >;
                };
        };
};
